
.header {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0a427a;
    z-index: 5;
}

.header [data-type="filter-panel"] {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header [data-type="select"] {
    max-width: 150px;
}

.header [data-type="group-select"],
.header [data-type="input"] {
    flex-grow: 1;
    max-width: 400px;
}

.wrapper main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 100px;
}